<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hallabong.tour.mapper.TourMapper">

	<!-- 관광명소 게시판 리스트 -->
	<select id="list" resultType="com.hallabong.tour.vo.TourVO">
		select no, area, theme, name, thumbnail, likeCnt
		from(
			select rownum rnum, no, area, theme, name, thumbnail, likeCnt
			from(
				select no, area, theme, name, thumbnail,
				(SELECT count(*) FROM tourLike where tour.no = tourLike.no)likeCnt
				from tour
				<include refid="search" />
				order by no desc
			)
		) where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터 개수 -->
	<select id="getTotalRow" resultType="long">
		select count(*) from tour
		<include refid="search" />
	</select>
	
	<!-- 게시판 검색 -->
	<sql id="search">
		<if test="word != null and word != ''">
			where 1=0
				<if test="area.indexOf('제주시'.toString()) >= 0">
					or name like ${"'%" + word + "%'"}
				</if>
				<if test="area.indexOf('조천읍'.toString()) >= 0">
					or name like ${"'%" + word + "%'"}
				</if>
		</if>
	</sql>
	
	<!-- 관광명소 게시판 글보기 -->
	<select id="view" resultType="com.hallabong.tour.vo.TourVO">
		select no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap,
		(SELECT 'LIKED' FROM tourLike where tour.no = tourLike.no and id = 'test') likeNo,
		(SELECT count(*) FROM tourLike where tour.no = tourLike.no) likeCnt
		from tour
		WHERE no = #{no}
	</select>
	
	<!-- 관광명소 게시판 글작성 -->
	<insert id="write">
		INSERT INTO tour(no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap)
		VALUES(tour_seq.nextval, #{id}, #{area}, #{theme}, #{name}, #{thumbnail},
		#{address}, #{content}, #{tel}, #{hours}, #{roadMap})
	</insert>
	
	<insert id="writeSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			select tour_seq.nextval from dual
		</selectKey>
		
		INSERT INTO tour(no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap)
		VALUES(#{no}, #{id}, #{area}, #{theme}, #{name}, #{thumbnail},
		#{address}, #{content}, #{tel}, #{hours}, #{roadMap})
	</insert>
	
	<!-- 관광명소 게시판 글수정 -->
	<update id="update">
		update tour set
			area = #{area},
			theme = #{theme},
			name = #{name},
			address = #{address},
			thumbnail = #{thumbnail},
			content = #{content},
			tel = #{tel},
			hours = #{hours},
			roadMap = #{roadMap}
		where no = #{no}
	</update>
	
	<update id="updateSelectKey">
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			select tour_seq.nextval from dual
		</selectKey>
		
		INSERT INTO tour(no, id, area, theme, name, thumbnail, address, content, tel, hours, roadMap)
		VALUES(#{no}, #{id}, #{area}, #{theme}, #{name}, #{thumbnail},
		#{address}, #{content}, #{tel}, #{hours}, #{roadMap})
	</update>
	
	<!-- 관광명소 대표이미지 변경 -->
	<update id="tourChange">
		update tour set thumbnail = #{thumbnail}
		where no = #{no}
	</update>
	
	<!-- 관광명소 게시판 글삭제 -->
	<delete id="delete">
		delete from tour
		where no = #{no}
	</delete>
	
	<!-- 관광명소 좋아요 -->
	<insert id="like">
		insert into tourLike(id, likeNo)
		values (#{id}, #{likeNo})
	</insert>

	<!-- 관광명소 좋아요 취소 -->
	<delete id="unlike">
		delete from tourLike
		where id = #{id} and no = #{likeNo}
	</delete>
	
</mapper>